body{
	font-family: Catamaran;
}
nav {
	background: #ce302f;
	height: 10vh;
}
.side-nav{
	background: #ce302f;
	height: auto;
	padding-bottom: 0;
	width: 100%;
}
.li-nav{
	border-top: 1px solid white;
}
.li-nav:hover {
	opacity: 0.3;
}
.option-nav{
	color: white !important;
	font-size: 1.5em !important;
}
.sobre-mi {
	background-color: gainsboro;
	padding-bottom: 4rem;
}
.top-profile{
	margin-top: 2rem;
}
#sobre-mi .row {
	margin-bottom: 0 !important;
}
.contenedor{
	margin:0px auto;
	width:900px;
}
#text-animation{
	color:transparent;
	font-size:30px;
}
.ta-letra{
	font-size: 2em;
	font-family: 'Julius Sans One', sans-serif;
	transition: color 0.3s;
}
h3 {
	color: #4B8085;
	font-weight: 900;
	padding: 1rem;
}
.top-section{
	margin-top: 4rem;
	margin-bottom: 4rem;
}
.titulo{
	font-family: 'Julius Sans One', sans-serif;
}
.profile{
	font-family: 'Catamaran', sans-serif;
	font-size: 1.5em;
	line-height: 1.5;
	margin-top: 4rem;
}
.icon-contac{
	color: white;
}
.icon-profile{
	color:#2A2B2A;
}
.icon-profile:hover{
	color:#97D9DB;
}
.photo-profile{
	margin-top: 5rem;
	margin-left: 8rem;
}
.h-logo {
	cursor: pointer;
	margin: 2rem;
	width: 10rem;
}
.h-logo:hover {
	background: #DADADA;
	border: 6px #97D9DB;
	border-radius: 50%;
	border-style: double;
	opacity: 0.7;
	padding: 1rem;
}
.sec-actitud-prof{
	background-image: url(../img/fondo-actitud-prof.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}
.card.col.l5 {
	margin:3.5rem;
}
.card .card-reveal {
	background-color: rgba(255, 255, 255, 0.82);
}
img.activator:hover {
	opacity: 0.8;
}
.slide-titulo {
	background: white;
	color:black;
	padding: 1.5rem;
}
h5.slide-sub.light.grey-text.text-lighten-3.hide-on-small-only {
	background: white;
	color: black !important;
	padding: 2rem;
}
.slider {
	margin-bottom: 6rem;
	margin-top: 5rem;
	position: relative;
	width: 100%;
}
section#contactame {
	height: 90vh;
}
.contac-frase{
	color: white;
    font-size: 2em;
}
footer{
	background: #4B8085;
	color: white;
	padding: 1px;
}
.contactame-parallax{
	background-image: url(../img/fondo-contactame.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.contacto-logo{
	color: white;
}
.ac-profe-color{
	color:#6BC8CB !important;
}
.btn-draw {
	display: inline-block;
	border-bottom: 2px solid #6BC8CB;
	color: #97D9DB;
	cursor: pointer;
	margin: 4.3rem;
	overflow: hidden;
	position: relative;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.btn-draw:after {
	background: #4B8085;
	content: '';
	bottom: 0;
	height: 100%;
	position: absolute;
	right: 0;
	transform: translateY(100%);
	transition: transform 0.2s ease-in-out;
	transition-delay: 0.6s;
	width: 2px;
}
 .btn-draw .btn-cv {
	color: inherit;
	display: block;
	position: relative;
	padding: 1em;
} 
.btn-draw .btn-cv:before, .btn-draw .btn-cv:after {
	background: #4B8085;
	content: '';
	left: 0;
	position: absolute;
	top: 0;
	transition: transform 0.2s ease-in-out;
}
.btn-draw .btn-cv:before {
	height: 2px;
	transform: translateX(100%);
	transition-delay: 0.4s;
	width: 100%;
}
.btn-draw .btn-cv:after {
	height: 100%;
	transform: translateY(-100%);
	transition-delay: 0.2s;
	width: 2px;
}
.btn-draw:hover:after, .btn-draw:hover  .btn-cv:before, .btn-draw:hover  .btn-cv:after {
	transform: translate(0, 0);
}
.btn-draw:hover:after {
	transition-delay: 0s;
}
.btn-draw:hover .btn-cv:before {
	transition-delay: 0.2s;
}
.btn-draw:hover .btn-cv:after {
	transition-delay: 0.4s;
}
.btn-draw:hover {
	background-color: #4B8085;
	color: white;
	transition-delay: 0.6s;
}
.icon-contacto {
	color: white;
	cursor: pointer;
}
.icon-contacto:hover {
	color: #6BC8CB;
}
