/*	menu*/
i.fa.fa-bars.fa-3x {
	margin-left: 2rem;
}
nav {
	background:#4B8085;
}
/*section 1*/
body{
	font-family: Catamaran;
}
.titulo{
	font-family: 'Julius Sans One', sans-serif;
}

/*slider*/

h3 {
	font-size: 2.92rem;
	line-height: 110%;
	margin: 1.46rem 0 1.168rem 0;
	color: #2A2B2A;
	font-weight: 900;
	background: beige;
	opacity: 0.8;
}
.grey-text.text-lighten-3 {
	color: #3C474B !important;
	background: cornsilk;
	opacity: 0.8;
}
.icon-contac{
	color:#2A2B2A;
}

/*sobre mi*/

.ball {
  position: absolute;
  top: 0;
  left: -20px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #4B8085;
  margin-left: -5px;
  transition-property: left, top;
  transition-timing-function: cubic-bezier(.25,.1,.25,1), cubic-bezier(.25,.1,.25,1);
}

.titulo-n {
	position: relative;
  	margin: 0;
  	display: inline-block;
  	text-align: center;
  	font-size: 4rem;
	font-family: 'Julius Sans One', sans-serif;
  	outline: none;
}

.word.lit {
  	color: #4B8085;
}

.contenedor-titulo {
  	width: 1280px;
  	margin: 0 auto;
  	text-align: center;
}

.light-switch {
  	position: absolute;
  	top: 10px;
  	left: 10px;
  	font-size: 50px;
  	color: #4B8085;
  	cursor: pointer;
  
  &:hover {
      color: #4B8085;
    }
}
.sobre-mi{
	height: 100vh;
}
.profile{
	font-family: 'Catamaran', sans-serif;
	text-align: justify;
    line-height: 1.5;
}
.icon-redes {
    margin-left: 55rem;
}
.parallax-profile {
	background-image: url(../img/fondo-profile.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.icon-contacto {
	color: #2A2B2A;
}
.icon-contacto:hover {
    color: #DADADA;
}

/* habilidades */

.logo-habilidades {
    margin: 4rem;
}
.h-logo {
    width: 10rem;
    margin: 2rem;
}
.h-logo:hover {
    background: #97D9DB;
    border-radius: 50%;
    padding: 1rem;
    border: 2px solid #6BC8CB;
}
/* proyectos */
.card.col.l5 {
    height: 60vh;
    margin: 3rem 3rem 1rem 4rem;
}

/*
	contactame
*/
.contac-icon {
	cursor: pointer;
}
.contacto-logo{
    margin: 4rem 0 4rem 13rem;
}
.btn-contacto{
    padding: 1px 2rem;
    color: white;
    background: #6BC8CB;
    border: none;
}

/* footer */
section#contactame {
    height: 90vh;
}
footer{
	background: #4B8085;
    color: white;
    padding: 1px;
}
























